KC_DB=postgres
KC_DB_URL=jdbc:postgresql://127.0.0.1:5432/{{ keycloak_db_name }}
KC_DB_USERNAME={{ keycloak_db_user }}
KC_DB_PASSWORD={{ keycloak_db_password }}
KC_HOSTNAME_STRICT=false
KC_PROXY_HEADERS=xforwarded
KC_HTTP_ENABLED=true
KC_HTTP_HOST={{ keycloak_listen_address }}
KC_HTTP_PORT={{ keycloak_port }}
KC_HEALTH_ENABLED=true
KEYCLOAK_ADMIN={{ keycloak_admin_user }}
KEYCLOAK_ADMIN_PASSWORD={{ keycloak_admin_password }}
