{
  "bazaar_api_url": "{{ sample_feeder_api_url }}",
  "bazaar_auth_key": "{{ bazaar_auth_key | default('') }}",
  "cape_api_url": "{{ cape_api_url }}",
  "cape_api_key": "{{ cape_api_key }}",
  "max_size_bytes": {{ sample_feeder_max_size_bytes }},
  "default_limit": {{ sample_feeder_default_limit }},
  "state_file": "{{ sample_feeder_state_file }}"
}
